<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ event.title }}</title>
</head>
<body>
    <p><a href="{% url 'main:event_list' %}">← Back to list</a></p>

    <h1>{{ event.title }}</h1>

    <p>
        <a href="{% url 'main:event_edit' event.pk %}">Edit</a> |
        <a href="{% url 'main:event_delete' event.pk %}">Delete</a>
    </p>

    {% if event.category %}
        <p><strong>Category:</strong> {{ event.category.name }}</p>
    {% endif %}

    {% if event.location %}
        <p><strong>Location:</strong> {{ event.location }}</p>
    {% endif %}

    <p><strong>Start:</strong> {{ event.start_datetime }}</p>
    
    {% if event.end_datetime %}
    <p><strong>End:</strong> {{ event.end_datetime }}</p>
    {% endif %}


    {% if event.description %}
        <p><strong>Description:</strong></p>
        <p>{{ event.description }}</p>
    {% endif %}
</body>
</html>